@font-face {
    font-family: 'Inter';
    src: url('/static/fonts/Inter/static/Inter_18pt-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Inter';
    src: url('/static/fonts/Inter/static/Inter_18pt-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }

  body {
    font-family: 'Inter', sans-serif;
  }
  
  .flex-container {
    display: flex;
    align-items: flex-start; /* aligns top edges */
    gap: 20px; /* space between form and result */
    margin-top: 20px;
}

.toolbar {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  align-items: center;
}
