@font-face {
  font-family: 'Inter';
  src: url('/static/fonts/Inter/static/Inter_18pt-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
} 
@font-face {
  font-family: 'Inter';
  src: url('/static/fonts/Inter/static/Inter_18pt-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

:root {
  --cerulean:        #00A8E8;
  --ink:             #003366;
  --blue:            #0A45F5;
  --purple:          #3700BC;
  --magenta:         #EC4899;
  --lightgrey:       #e6e6e6;
}

body {
  font-family: 'Inter', sans-serif;
  color: var(--ink);
  padding: 0; 
  padding-top: 0; 
  font-size: 1rem;
}
textarea {
	font-family: 'Inter', sans-serif;  ;
  color: var(--ink);
  resize: vertical;
}