{# templates/binary.html #}
{% extends 'base.html' %}
{% set active = 'none' %}

{% block content %}
  <form method="POST">
    {% include 'includes/_csrf.html' %}
    <div class="card-container">

      <!-- Title CARD -->
      <div class="card card-title">
        <h2>{{ page_title }}</h2>
      </div>

      <!-- OPTIONS CARD -->
      <div class="card card-options">
        <div class="options-grid-layout">
          <!-- Left "Options" label -->
          <div>
            <h3>settings</h3>
          </div>
          <!-- Right: form inputs -->
          <div>
            <div class="form-row">
              <label for="reverse">reverse?:</label>
              <input id="reverse" type="checkbox" name="reverse" {% if reverse %}checked{% endif %} />
            </div>
          </div>
        </div>
      </div>

      <!-- INPUT CARD -->
      <div class="card card-input">
        <div class="title-and-button">
          <h3>input</h3>
          <button type="submit" class="primary">convert</button>
        </div>
        <textarea
          name="text"
          rows="20" cols="40"
          placeholder="paste your text here..."
        >{{ text or '' }}</textarea>
      </div>

      <!-- RESULT CARD -->
      <div class="card card-result">
        <div class="title-and-button">
          <h3>result</h3>
          <button type="button" class="primary" data-copy-target="#result-textarea">copy to clipboard</button>
        </div>
        <textarea
          id="result-textarea"
          rows="20" cols="40"
          readonly
        >{% if result %}{{ result }}{% endif %}</textarea>
      </div>

    </div>
  </form>
{% endblock %}
