{% extends 'base.html' %}
{% set active = 'findreplace' %}
{% block content %}
  <h1>Find & Replace</h1>
  <p>free tool to search for a substring and replace it throughout your text.</p>
  <div class="flex-container">
    <div>
        <h2>Input:</h2>
        <form method="POST">
            {% include 'includes/_csrf.html' %}
            <div class="form-row">
                <label for="find_str">find:</label>
                <input id="find_str" name="find_str" value="{{ find_str or '' }}" />
            </div>
            <div class="form-row">
                <label for="replace_str">replace:</label>
                <input id="replace_str" name="replace_str" value="{{ replace_str or '' }}" />
            </div>
            <br>
            <button type="submit" class="primary">Convert</button>
            <br><br>
            <!-- comma-list textarea -->
            <textarea
            name="text_input"
            rows="25"
            cols="50"
            placeholder="Paste your text here..."
            >{{ text or '' }}</textarea>
        </form>
    </div>
    <div>
        <h2>Result:</h2>
        <button type="button" class="primary" data-copy-target="#result-textarea">Copy to clipboard</button>
        <br><br>
        <textarea id="result-textarea" rows="25" cols="50" readonly>
            {{- result -}}
        </textarea>        
    </div>
{% endblock %}
